

.crypto {
    display: flex;
    background-color: azure;
}

.crypto:hover {
    background-color: bisque;
    cursor: pointer;
}

.crypto__cell {
    width: 150px;
    padding: 8px;
}

.row {
    display: flex;
}

.label {
    width: 150px;
    padding: 8px;
}

.value {
    padding: 8px;
}

